.container{
    min-height: 80dvh;    
    color: #f5f6f4;
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80dvh;
}
.left-container{
    width: 100% !important;
}
.hero-title{
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
}
.hero-subtitle{
    font-size: 24px;
    font-weight: 300;
}
nav a{
    color: #fff !important;
}
.nav-container{
    margin-top: 20px;
}
.connectWalletBtn:hover{
    color: #000 !important;
    border-color: transparent !important;
    background-color: #f1f1f1;
}